<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>管理员界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="container-fluid main">
    <h2>注册注销二选一</h2>
    <hr>
    <form class="form-inline" th:action="@{/admin}" method="post">
        <div class="form-group">
            <label for="presetUsername">Username</label>
            <input type="text" class="form-control" id="presetUsername" name="presetUsername" th:value="${presetUsername}" placeholder="预设用户名">
        </div>
        <div class="form-group">
            <label for="presetPassword">Password</label>
            <input type="text" class="form-control" id="presetPassword" name="presetPassword" th:value="${presetPassword}" placeholder="预设密码">
        </div>
        <div class="form-group">
            <label for="presetRole">Role</label>
            <input type="text" class="form-control" id="presetRole" name="presetRole" th:value="${presetRole}" placeholder="预设权限(admin/user)">
        </div>
        <button type="submit" class="btn btn-default">注册用户</button>
    </form>
    <hr>
    <form class="form-inline" th:action="@{/admin}" method="post">
        <div class="form-group">
            <label for="delUsername">Username</label>
            <input type="text" class="form-control" id="delUsername" name="delUsername" th:value="${delUsername}" placeholder="注销用户名">
        </div>
        <button type="submit" class="btn btn-default">注销用户</button>
    </form>
    <hr>
    <div class="alert alert-danger" role="alert" th:if="${error}"><span th:text="${error}"></span></div>
    <div class="alert alert-success" role="alert" th:if="${success}"><span th:text="${success}"></span></div>
    <hr>
    <h2>当前用户名单</h2>
    <div class="media" th:each="user : ${userList}">
        <div class="media-left">
            <a href="#">
                <img class="media-object" th:src="${user.getProfileURL()}"
                     style="border-radius: 16px; border: 3px solid #444"
                     alt="http://www.gravatar.com/avatar?s=64">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><span th:text="${user.getUsername()}"></span></h4>
            <span th:text="${user.toString()}"></span>
        </div>
    </div>
</div>
</body>
</html>