<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>编辑帖子</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"><strong> 帖子详情</strong></span></h2>
            <hr>
            <div class="media" style="margin-bottom: 20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object media-profile"
                             th:src="${moment.getMyUser().getProfileURL()}"
                             alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong th:text="${moment.getTitle()}"></strong></h4>
                    <span class="topic-info">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true">&ensp;<span
                                th:text="${moment.getComments()}"></span>个回复&emsp;</span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&ensp;<span
                                th:text="${moment.getLikes()}"></span>次点赞&emsp;</span>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">&ensp;<span
                                th:text="${moment.getDislikes()}"></span>次点踩&emsp;</span>
                        <span class="glyphicon glyphicon-time" aria-hidden="true">&ensp;<span
                                th:text="${moment.getTimeInfo()}"></span>&emsp;</span>
                    </span>
                </div>
            </div>
            <div>
                <p th:text="${moment.getContent()}"></p>
                <a href="#" class="btn btn-danger btn-lg btn-publish" role="button"><span
                        class="glyphicon glyphicon-thumbs-down"
                        aria-hidden="true"> 踩</span></a>
                <a href="#" class="btn btn-success btn-lg btn-publish" role="button"><span
                        class="glyphicon glyphicon-thumbs-up"
                        aria-hidden="true"> 赞</span></a>
                <a href="#" th:if="${user.getUserID() == moment.getMyUser().getUserID()}"
                   class="btn btn-info btn-lg btn-publish" role="button"><span class="glyphicon glyphicon-pencil"
                                                                               aria-hidden="true"> 编辑</span></a>
            </div>
            <hr>
            <h2><span class="glyphicon glyphicon-send" aria-hidden="true"><strong> 发表评论</strong></span></h2>
            <hr>
            <form th:action="@{/comment}" method="post">
                <div style="display: none">
                    <label for="id"></label>
                    <input type="number" id="id" th:value="${moment.getMomentID()}" name="id">
                </div>
                <div class="form-group">
                    <label for="content">评论内容</label>
                    <textarea name="content" id="content" class="form-control"
                              cols="20" rows="7"
                              placeholder="评论一下喵~"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-publish"><span class="glyphicon glyphicon-send"
                                                                                aria-hidden="true"></span></button>
            </form>
            <hr>
            <h2><span class="glyphicon glyphicon-comment" aria-hidden="true"><strong> 评论区</strong></span></h2>
            <hr>
            <div class="media" th:each="comment : ${commentPage.getPageContent()}" style="margin-bottom: 20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object media-profile"
                             th:src="${comment.getMyUser().getProfileURL()}"
                             alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong th:text="${comment.getMyUser().getUsername()}"></strong></h4>
                    <span class="topic-info">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true">&ensp;<span
                                th:text="${comment.getComments()}"></span>个回复&emsp;</span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&ensp;<span
                                th:text="${comment.getLikes()}"></span>次点赞&emsp;</span>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">&ensp;<span
                                th:text="${comment.getDislikes()}"></span>次点踩&emsp;</span>
                        <span class="glyphicon glyphicon-time" aria-hidden="true">&ensp;<span
                                th:text="${comment.getTimeInfo()}"></span>&emsp;</span>
                        <p th:text="${comment.getContent()}"></p>
                    </span>
                </div>
            </div>
            <hr>
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">
                    <li th:if="${!commentPage.isFirstPage()}">
                        <a th:href="@{/details(id=${moment.getMomentID()},page=${commentPage.getPreviousPage()})}">
                            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a th:text="${commentPage.getPageIndex()}"></a>
                    </li>
                    <li th:if="${!commentPage.isLastPage()}">
                        <a th:href="@{/details(id=${moment.getMomentID()},page=${commentPage.getNextPage()})}">
                            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3><strong>注意事项</strong></h3>
            <strong>
                <p>
                    1.本章条例的执行方式。群主和管理员都可以依照集体利益最大化的原则判断并执行，遇到遗漏时，其他成员可以提醒群主或管理员判断和执行。
                </p>
                <p>
                    2.严厉打击互吹卖弱、溜须拍马行为，违者处以禁言惩罚。
                </p>
                <p>
                    3.严厉打击造谣传谣行为，违者处以撤回和禁言惩罚。
                </p>
                <p>
                    4.严厉打击黄赌毒及其他危害身心健康或引起不适的言论与行为。违者处以撤回惩罚。
                </p>
            </strong>
        </div>
    </div>
</div>
</body>
</html>